

.box_history_big {
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
}

.pf_box {
  width: 175px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background: rgb(255, 129, 152, 0.5);
  text-align: center;
  line-height: 30px;
  margin-top: -32px;
  font-size: 13px;
  position: relative;
}

.box_big_center {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box_item img {
  width: 100%;
  height: 280px;
  border-radius: 5px;
}

.box_big_center1 {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_item {
  width: 175px;
  height: 320px;
}

.box_history {
  padding: 2px 4px 2px 4px;
  border: 1px solid rgb(226, 225, 225);
  margin-right: 4%;
  margin-top: 3%;
  float: left;
}

.top_box {
  font-size: 14px;
  margin-left: 5%;
}

.top_div {
  width: 100%;
  height: 100px;
  background: rgb(255, 129, 152);
}

.van-nav-bar__text {
  color: rgb(255, 255, 255) !important;
}

.van-icon-arrow-left::before {
  content: '\F008';
  color: white;
}

.van-nav-bar__title {
  max-width: 60%;
  margin: 0 auto;
  color: white;
  font-weight: 500;
  font-size: 16px;
}